@font-face {
  font-family: 'Brandon';
  src: url('../fonts/brandon_med.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brandon_med.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/brandon_med.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/brandon_med.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/brandon_med.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon';
  src: url('../fonts/brandon_bld.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brandon_bld.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/brandon_bld.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/brandon_bld.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/brandon_bld.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
}

*{
  font-family: "Brandon";
  font-size: 20px;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(249,249,249);
}

h1 {
  font-size: 1.3em;
}

#logo-wordmark {
  height: 200px;
}

@media screen and (max-width: 480px) {
  #logo-wordmark {
    height: 100px;
  }
}

#wordmark {
  height: 30px;
}

@media screen and (max-width: 480px) {
  #wordmark {
    height: 30px;
  }
}

md-content.md-default-theme, md-content {
  color: rgba(76,219,148,1);
  background-color: rgb(249,249,249);
  display: flex;
  flex-flow: column-wrap;
  align-items: center;
}

#icon-picker {
  min-width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#icon {
  width: 200px;
  text-align: center;
  margin: 0;
}

i.fa-chevron-left, i.fa-chevron-right {
  outline: none;
  transition: all .2s ease-in-out;
}

i.fa-chevron-left:hover, i.fa-chevron-right:hover {
  transform: scale(1.3);
}

.md-toolbar {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

button {
  box-shadow: none;
}

.dashboard:first-of-type {
  padding-top: 30px
}

.md-button.md-default-theme.md-fab, .md-button.md-fab {
  color: rgb(255,255,255);
}

.dashcards{
  width: 20em !important;
}

.title {
  display: flex;
  justify-content: space-between;
}

.card-media {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.md-card-title {
  padding-right: 20px;
}

md-progress-linear {
  height: 20px;
  padding-bottom: 10px;
}

md-progress-linear ._md-container {
  height: 20px;
  border-radius: 50px;
}

md-progress-linear ._md-container ._md-bar {
  height: 20px;
}
