<md-toolbar>
  <div class="md-toolbar-tools">
    <a href="#/" class="home">
      <div layout="row">
        <div class="toolbar-logo" ng-href="/#/">
          <!-- <img ng-src="images/logo-white.png" id="toolbar-logo"> -->
        </div>
        <div class="wordmark">THRIFTY</div>
      </div>
    </a>
    <span flex></span>
    <md-button aria-label="Dashboard" ng-href="#/dashboard">
      Dashboard
    </md-button>
    <md-button aria-label="Log out" ng-click="logOut()">
      Log out
    </md-button>
  </div>
</md-toolbar>

<form name="account">
  <md-content layout="column" flex layout-padding>
    <h1>My Account</h1>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>First Name</label>
        <input type="text" ng-model="account.first_name" md-no-asterisk required>
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Last Name</label>
        <input type="text" ng-model="account.last_name" md-no-asterisk required>
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Email</label>
        <input name="userEmail" minLength="6" maxLength="100"  type="text" ng-model="account.email" md-no-asterisk required ng-pattern="/^.+@.+\..+$/">
        <div ng-messages="account.userEmail.$error" role="alert">
          <div ng-message-exp="['required', 'minLength', 'maxLength', 'pattern']">
            Oops, invalid email.
          </div>
        </div>
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Password</label>
        <input type="password" name="userPassword" minLength="8" ng-model="account.password" md-no-asterisk required>
        <div ng-messages="account.userPassword.$error" multiple md-auto-hide="false">
          <div ng-message-exp="['required', 'minLength']">
            Use at least 8 characters.
          </div>
        </div>
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Your Monthly Income</label>
        <input type="text" ng-model="account.monthly_income" md-no-asterisk required>
      </md-input-container>
    </div>
    <md-button class="md-raised md-primary" ng-click="accountChange()">Save and Go Back</md-button>
    <div layout="column">
      <md-button class="md-warn" ng-click="showConfirm($event)">Delete My Account</md-button>
      <md-button ng-href="/#/dashboard">Back to Dashboard</md-button>
    </div>
  </md-content>
</form>
