
<md-content layout="column" flex layout-padding>
  <p>Welcome back, {{first_name}} {{last_name}}!</p>
  <md-button ng-click="goEdit()">Edit Account Details</md-button>
  <div ng-repeat="goal in goals">
    <md-card class="dashcards" md-theme="{{ 'default' }}" md-theme-watch="">
      <md-card-title>
        <md-card-title-media>
          <!-- Pictures go in here -->
          <div class="md-media-md card-media">
            <i class="fa fa-{{goal.icon}} fa-3x" aria-hidden="true"></i>
          </div>
        </md-card-title-media>
        <md-card-title-text>
          <!-- edit icon -->
          <div layout="row" class="title">
            <div>
              <span class="md-headline">{{goal.name}}</span>
            </div>
            <div>
              <a href="#/editgoal/{{goal._id}}"><i class="fa fa-pencil fa-sm" aria-hidden="true"></i></span></a>
            </div>
          </div>
          <div>
            <md-progress-linear md-mode="determinate" value="{{( (goal.cost - goal.amount_left) / goal.cost) * 100}}"></md-progress-linear>
          </div>
          <div layout="column">
            <span class="md-subhead">Saved ${{goal.cost - goal.amount_left}} / ${{goal.cost}}</span>
            <span class="md-subhead">{{goal.time_left}} months to go</span>
          </div>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <!-- If you remove Action 1&2, cards with shorter text with have a shorter width too, which is super ugly -->

      </md-card-actions>
    </md-card>
  </div>
  <md-button ng-click="logout()">Log Out</md-button>
</md-content>

<!--
This is the basic text list version
<ul>
<li ng-repeat="goal in goals">
<p>{{goal.name}}</p>
<p>${{goal.amount_left}} / ${{goal.cost}}</p>
<p>Time Remaining: {{goal.time_left}} months</p>
<a href="#/editgoal/{{goal._id}}">Edit this Goal</a>
</li>
</ul> -->
