<md-toolbar>
  <div class="md-toolbar-tools">
    <div layout="row">
      <div class="toolbar-logo" ng-href="/#/">
        <!-- <img ng-src="images/logo-white.png" id="toolbar-logo"> -->
      </div>
      <div class="wordmark">THRIFTY</div>
    </div>
    <span flex></span>
    <div class="title-spaced">
      <h1>{{first_name}} {{last_name}}
        <i class="fa fa-user" aria-hidden="true"></i>
        ${{monthly_income | number:0}}
      </h1>
    </div>
    <span flex></span>
    <md-button ng-click="goEdit()" aria-label="My Account">
      My Account
    </md-button>
    <md-button aria-label="Log out" ng-click="logOut()">
      Log out
    </md-button>
  </div>
</md-toolbar>

<div class="centred-page">
  <form name="goalPlanForm">
    <md-content layout="column" flex layout-padding>
      <h1>How would you like to save for it?</h1>

      <h4>set aside ${{monthly_budget}}/month</h4>
      <md-slider-container>
        <span><i class="fa fa-money fa-lg" aria-hidden="true"></i></span>
        <md-slider flex min="min_budget()" max="{{max_budget()}}" ng-model="monthly_budget" ng-change="monthly_budget_changed()" aria-label="monthly_budget">
        </md-slider>
        <md-input-container>
          <input id="monthly-budget-input" flex type="number" ng-model="monthly_budget" ng-change="monthly_budget_changed()" aria-label="monthly_budget" aria-controls="red-slider" value="50">
        </md-input-container>
      </md-slider-container>

      <h4>for {{time_left}} {{unit()}}</h4>
      <md-slider-container>
        <span><i class="fa fa-hourglass-half fa-lg" aria-hidden="true"></i></span>
        <md-slider flex min="{{min_time()}}" max="{{max_time()}}" ng-model="time_left" ng-change="time_left_changed()" aria-label="time_left">
        </md-slider>
        <md-input-container>
          <input id="time-left-input" flex type="number" ng-model="time_left" ng-change="time_left_changed()" aria-label="time_left" aria-controls="time-left-slider">
        </md-input-container>
      </md-slider-container>

      <md-button class="md-raised md-primary" ng-click="sendData()">Save Goal</md-button>

      <div layout="row" flex class="buttons-beside">
      <md-button class="md-warn" ng-click="showConfirm($event)">
        Delete Goal</md-button>
        <md-button ng-href="/#/dashboard">
        Back to Dashboard</md-button>
      </div>

    </md-content>
  </form>
</div>
