<md-toolbar>
  <div class="md-toolbar-tools">
    <div layout="row">
      <div class="toolbar-logo" ng-href="/#/">
        <!-- <img ng-src="images/logo-white.png" id="toolbar-logo"> -->
      </div>
      <div class="wordmark">THRIFTY</div>
    </div>
    <span flex></span>
    <div class="title-spaced">
      <h1>{{first_name}} {{last_name}}
          <i class="fa fa-user" aria-hidden="true"></i>
          ${{monthly_income | number:0}}
      </h1>
    </div>
    <span flex></span>
    <md-button ng-click="goEdit()" aria-label="My Account">
      My Account
    </md-button>
    <md-button aria-label="Log out" ng-click="logOut()">
      Log out
    </md-button>
  </div>
</md-toolbar>

<div class="centred-page">
  <form name="goal">
    <md-content layout="column" flex layout-padding>
      <h1>Edit goal</h1>

      <div layout-gt-sm="row" id="icon-picker">
        <i class="fa fa-chevron-left fa-2x" aria-hidden="true" ng-click="prev()"></i>
        <div id="icon">
          <i class="fa fa-{{icons[index]}} fa-5x" aria-hidden="true"></i>
        </div>
        <i class="fa fa-chevron-right fa-2x" aria-hidden="true" ng-click="next()"></i>
      </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Name</label>
          <input type="text" ng-model="goal.name" md-no-asterisk required minLength="1">
          <!--  validation and error handling -->
          <div ng-messages="goal.goalName.$error" role="alert">
            <div ng-message-exp="['required', 'minLength']">
              Please give it a name.
            </div>
          </div>
        </md-input-container>
      </div>

      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Cost</label>
          <input name="goalCost" type="text" ng-model="goal.cost" md-no-asterisk required min="{{(goal.amount_saved)}}" ng-pattern="/^[0-9]{1,7}$/">
          <div ng-messages="goal.goalCost.$error" role="alert">
            <div ng-message-exp="['required', 'min', 'pattern']">
              Oops, that's less than {{(goal.amount_saved)}} you've saved so far.
            </div>
          </div>
        </md-input-container>
      </div>

      <md-button class="md-raised md-primary" ng-click="editGoal()">Save Goal</md-button>
      <md-button class="md-raised md-primary" ng-click="editGoalPlan()">Edit Plan</md-button>

      <div layout="row" flex class="buttons-beside">
      <md-button class="md-warn" ng-click="showConfirm($event)">
        Delete Goal</md-button>
        <md-button ng-href="/#/dashboard">
        Back to Dashboard</md-button>

        </md-content>
      </form>
    </div>
