<md-toolbar>
  <div class="md-toolbar-tools">
    <a href="#/" class="home">
      <div layout="row">
        <div class="toolbar-logo" ng-href="/#/">
        </div>
        <div class="wordmark-show">THRIFTY</div>
      </div>
    </a>
  </div>
</md-toolbar>

<form name="getStartedForm">
  <md-content layout="column" flex>
    <h1>Enter your monthly income.</h1>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>$</label>
        <input required md-no-asterisk type="number" ng-model="user.monthly_income" name="userIncome" min="100">
        <!-- income validation and error handling -->
        <div ng-messages="getStartedForm.userIncome.$error" role="alert">
          <div ng-message-exp="['required', 'min']">
            Please enter at least $100.
          </div>
        </div>
      </md-input-container>
    </div>
    <md-button class="md-raised md-primary" ng-click="sendData()">Get Started</md-button>
  </md-content>
</form>
