<md-toolbar>
  <div class="md-toolbar-tools">
    <a href="#/" class="home">
      <div layout="row">
        <div class="toolbar-logo">
        </div>
        <div class="wordmark">THRIFTY</div>
      </div>
    </a>
    <span flex></span>
    <h2>
      <span>Welcome back!</span>
    </h2>
  </div>
</md-toolbar>

<div>
  <form name="loguser">
    <md-content layout="column" flex>
      <h1>Log in</h1><br>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Email</label>
          <input type="text" ng-model="loguser.email" md-no-asterisk required>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
        <label>Password</label>
        <input type="password" ng-model="loguser.password" md-no-asterisk required>
      </md-input-container>
    </div>
    <div>
      <md-button class="md-raised md-primary" ng-click="loggerIn()">Login</md-button>
    </div>
  </form>
</div>
