<md-toolbar>
  <div class="md-toolbar-tools">
    <div layout="row">
      <div class="toolbar-logo" ng-href="/#/">
        <!-- <img ng-src="images/logo-white.png" id="toolbar-logo"> -->
      </div>
      <div class="wordmark">THRIFTY</div>
    </div>
    <span flex></span>
    <h2>
      <span>Welcome back.</span>
    </h2>
  </div>
</md-toolbar>

<div class="centred-page">
  <form name="loguser">
    <md-content layout="column" flex layout-padding>
      <img ng-src="images/logo-wordmark.png" id="logo-wordmark">
      <br>
      <!-- <h1>Log in</h1> -->
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Email</label>
          <input type="text" ng-model="loguser.email" md-no-asterisk required>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Password</label>
          <input type="password" ng-model="loguser.password" md-no-asterisk required>
        </md-input-container>
      </div>
      <div>
        <md-button class="md-raised md-primary" ng-click="loggerIn()">Login</md-button>
      </div>
    </form>
  </div>
