<md-toolbar>
  <div class="md-toolbar-tools">
    <div layout="row">
      <div class="toolbar-logo" ng-href="/#/">
        <!-- <img ng-src="images/logo-white.png" id="toolbar-logo"> -->
      </div>
      <div class="wordmark">THRIFTY</div>
    </div>
    <span flex></span>
    <div class="title-spaced">
      <h1>{{first_name}} {{last_name}}
          <i class="fa fa-user" aria-hidden="true"></i>
      </h1>
    </div>
    <span flex></span>
    <md-button ng-click="goEdit()" aria-label="My Account">
      My Account
    </md-button>
    <md-button aria-label="Log out" ng-click="logOut()">
      Log out
    </md-button>
  </div>
</md-toolbar>

<form name="newGoalForm">
  <md-content layout="column" flex>
    <h1>What are you saving up for?</h1><br>

    <div layout-gt-sm="row" id="icon-picker">
      <i class="fa fa-chevron-left fa-2x" aria-hidden="true" ng-click="prev()"></i>
      <div id="icon">
        <i class="fa fa-{{icons[index]}} fa-5x" aria-hidden="true"></i>
      </div>
      <i class="fa fa-chevron-right fa-2x" aria-hidden="true" ng-click="next()"></i>
    </div><br>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>What's it called?</label>
        <input required md-no-asterisk type="text" ng-model="goal.name" name="goalName" minLength="1" maxlength="15">
        <!-- validation and error handling -->
        <div ng-messages="newGoalForm.goalName.$error" role="alert">
          <div ng-message-exp="['required', 'minLength', 'maxLength']">
            Please give it a name.
          </div>
        </div>
      </md-input-container>
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>How much does it cost? ($)</label>
        <input required md-no-asterisk type="number" ng-model="goal.cost" name="goalCost" min="100" ng-pattern="/^[0-9]{1,7}$/">
        <!-- cost validation and error handling -->
        <div ng-messages="newGoalForm.goalCost.$error" multiple md-auto-hide="false">
          <div ng-message="min">
            Please enter at least $100.
          </div>
          <div ng-message="pattern">
            Use numbers only.
          </div>
        </div>
      </md-input-container>
    </div>

    <md-button class="md-raised md-primary" ng-click="sendData()">Start a Savings Plan</md-button><br>
    <md-button ng-href="/#/dashboard">Dashboard</md-button>
  </md-content>

</form>
