<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button aria-label="Log out" ng-click="logOut()">
      Log out
    </md-button>
    <h2>
      <span>Hello, {{first_name}} {{last_name}}. You have $ {{available_income}} available.</span>
    </h2>
    <span flex></span>
    <md-button ng-click="goEdit()" class="md-raised" aria-label="My Account">
      My Account
    </md-button>
    <md-button ng-click="newGoal()" class="md-fab md-mini" aria-label="New Goal">
      <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
    </md-button>
  </div>
</md-toolbar>

<form name="newGoalForm">
  <md-content layout="column" flex layout-padding>
    <h1>What are you saving up for?</h1>

    <div layout-gt-sm="row" id="icon-picker">
      <i class="fa fa-chevron-left fa-2x" aria-hidden="true" ng-click="prev()"></i>
      <div id="icon">
        <i class="fa fa-{{icons[index]}} fa-5x" aria-hidden="true"></i>
      </div>
      <i class="fa fa-chevron-right fa-2x" aria-hidden="true" ng-click="next()"></i>
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>What's it called?</label>
        <input required md-no-asterisk type="text" ng-model="goal.name" name="goalName" minLength="1">
        <!-- validation and error handling -->
        <div ng-messages="newGoalForm.goalName.$error" role="alert">
          <div ng-message-exp="['required', 'minLength']">
            Please give it a name.
          </div>
        </div>
      </md-input-container>
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>How much does it cost? ($)</label>
        <input required md-no-asterisk type="number" ng-model="goal.cost" name="goalCost" min="100" ng-pattern="/^[0-9]{1,7}$/">
        <!-- cost validation and error handling -->
        <div ng-messages="newGoalForm.goalCost.$error" role="alert">
          <div ng-message-exp="['required', 'min', 'pattern']">
            Please enter at least $100.
          </div>
        </div>
      </md-input-container>
    </div>

    <md-button class="md-raised md-primary" ng-click="sendData()">Start Planning</md-button>
  </md-content>

</form>
