<div layout="column" id="centered-page">
  <form>
    <md-content flex layout-padding>
      <img ng-src="images/wordmark.png" alt="" id="wordmark" />
      <h1>Create an account to get started.</h1>

      <div layout-gt-sm="column">
        <md-input-container class="md-block" flex-gt-sm>
          <label>First name</label>
          <input ng-model="user.first_name">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Last name</label>
          <input ng-model="user.last_name">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Email</label>
          <input ng-model="user.email">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Password (8 characters or more)</label>
          <input ng-model="user.password">
        </md-input-container>
        <md-button class="md-raised md-primary" href="#/register" ng-click="sendData()">Register</md-button>
      </form>
    </div>
  </div>
