<form name="registrationForm">
  <md-content layout="column" flex layout-padding>
    <img ng-src="images/wordmark.png" alt="" id="wordmark" />
    <h1>Create an account to get started.</h1>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>First name</label>
        <input required ng-model="user.first_name">
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Last name</label>
        <input required ng-model="user.last_name">
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Email</label>
        <input required ng-model="user.email" name="userEmail" minlength="6" maxlength="100" ng-pattern="/^.+@.+\..+$/">
        <!-- email validation and error handling -->
        <div ng-messages="registrationForm.userEmail.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Oops, invalid email.
          </div>
        </div>
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Password</label>
        <input required ng-model="user.password" name="userPassword" type="password" minLength="8">
        <div ng-messages="registrationForm.userPassword.$error" multiple md-auto-hide="false">
          <div ng-message-exp="['required', 'minlength']">
          Use at least 8 characters.
          </div>
        </div>
      </md-input-container>
    </div>
    <md-button class="md-raised md-primary" href="#/register" ng-click="sendData()">Register</md-button>
  </md-content>
</form>
