<md-content layout="column" flex layout-padding style="justify-content: center">
  <div>
    <img ng-src="images/logo-wordmark.png" alt="" id="logo-wordmark" />
  </div>

  <h1>Saving for something?</h1>
  <h1>Thrifty helps you plan and keep track of your goals.</h1>


  <p>Start planning in seconds</p>
  <md-button class="md-raised md-primary" href="#/register">Register</md-button>
  <p>Already got an account?</p>
  <md-button class="md-raised md-primary" href="#/login">Login</md-button>

  <!-- DELETE_ME_BEFORE_DEPLOY -->
  <!-- <h2>{{CurrentDate | date:'dd/MM/yyyy'}}</h2>
  <h3>Easy-Access Routes for Testing</h3>
  <a href="#/newgoal">New Goal</a>
  <a href="#/account">Account Details</a>
  <a href="#/dashboard">Dashboard</a>
  <button ng-click="display()">See the Window Local Storage</button>
  <button ng-click="logOut()">Log Out and Clear the Local Storage</button> -->
  <!-- DELETE_ME_BEFORE_DEPLOY -->
</md-content>
