<h1>Hello Upon You!</h1>
<h3>Saving for something? Thrifty helps you plan and keep track of your goals.</h3>
<h4>Start planning in seconds</h4>
<a href="#/register">Register Here</a><br>
<h4>Already got an account?</h4>
<a href="#/login">Login Here</a><br><br><br>
<h3>Easy-Access Routes for Testing</h3>
<a href="#/newgoal">New Goal</a><br>
<a href="#/account">Account Details</a><br>
<button ng-click="display()">See the Window Local Storage</button>|
<button ng-click="logOut()">Log Out and Clear the Local Storage</button>
